---
layout: default
---
<section class="content">
    <h1>Dave Kilian's Blog &ndash; Index</h1>
    <h2>Welcome to the drafts section</h2>
    <p>This section is a staging area for posts in various stages of development. The content herein is liable to be incomplete or entirely wrong, and can be changed or removed without warning. I use <a href="http://github.com/davekilian/davekilian.github.com">this blog's repo</a> to track work-in-progress posts. Since the drafts already exist publicly anyways, I figured I might as well provide some interface to view them on the live site. Enjoy!</p>
    <hr/>

    {% for post in site.posts %}
        {% if post.draft %}
            <div class="post-blurb">
                <div style="margin: 0; padding: 0; background-color: {% cycle '#fff', '#eee' %}">
                    <header style="padding-top: 0em; padding-bottom: .5em; padding-left: 1em">
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    </header>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <hr/>
    <a href="/">(hide draft posts)</a>
</section>

