ul.nav
{
    list-style-type: none;
    position:relative;
    margin:0;
    padding:0;
    margin-top:30px
}

ul.nav li
{
    border:none;
    padding:0;
    margin:0;
    margin-bottom:10px
}

ul.nav h4
{
    font-weight: bold;
}

div.sidebar
{
    background-color:#eee; 
    padding: 2em; 
    position: fixed; 
    right: 0px; 
    height: 100%;
}

div.sidebar h1,h5
{
    font-weight: bold;
}

h2
{
    padding-top: .5em;
}

div.post-blurb
{
    display: block;
    color: #888;
    margin: 0;
    padding: 0;
}

div.post-blurb:hover
{
    color: black;
}

div.post-container
{
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

div.post-date
{
    font-size: 13.5pt;
}

div.post-content
{
    font-family: "Merriweather", serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: 100;
}

div.post-content strong, b
{
    font-weight: 700;
}

div.post-content h1,
div.post-content h2,
div.post-content h3,
div.post-content h4,
div.post-content h5,
div.post-content h6
{
    font-family: sans-serif;
    text-align: center;
}

body
{
    font-size: 100%;
    word-spacing: .12em;
}

p
{
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    text-align: left;
}

li p
{
    text-indent: 0;
}

blockquote
{
    border: 3px solid #eee;
}

blockquote p
{
    color: #454545;
    text-align: left;
    text-indent: 0;
}

blockquote p:first-child
{
    margin-top: 0;
}

ul, ol
{
    margin-top: 1em;
    margin-bottom: 1em;
}

dd
{
    margin-bottom: 1em;
}

pre code
{
    font-size: 110%;
}

blockquote
{
    font-size: 100%;
}
