/* <link rel="stylesheet" href="{{ '/assets/bootstrap.min.css' | relative_url }}" /> */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/source-sans-pro-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       url('./assets/fonts/source-sans-pro-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/source-sans-pro-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/source-sans-pro-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/source-sans-pro-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/source-sans-pro-v13-latin-regular.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}
/* source-sans-pro-700 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/source-sans-pro-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
       url('./assets/fonts/source-sans-pro-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/source-sans-pro-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/source-sans-pro-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/source-sans-pro-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/source-sans-pro-v13-latin-700.svg#SourceSansPro') format('svg'); /* Legacy iOS */
}

/* libre-baskerville-regular - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/libre-baskerville-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./assets/fonts/libre-baskerville-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/libre-baskerville-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/libre-baskerville-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/libre-baskerville-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/libre-baskerville-v14-latin-regular.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}
/* libre-baskerville-italic - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  src: url('./assets/fonts/libre-baskerville-v14-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./assets/fonts/libre-baskerville-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/libre-baskerville-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/libre-baskerville-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/libre-baskerville-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/libre-baskerville-v14-latin-italic.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}
/* libre-baskerville-700 - latin */
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/libre-baskerville-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./assets/fonts/libre-baskerville-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/libre-baskerville-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/libre-baskerville-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/libre-baskerville-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/libre-baskerville-v14-latin-700.svg#LibreBaskerville') format('svg'); /* Legacy iOS */
}

html
{
    -webkit-font-smoothing: antialiased;
}

body
{
    /* font-size: 100%; */
    -webkit-font-smoothing: antialiased;
    font-family: "Libre Baskerville", serif;
    font-size: 15.25px;
    font-weight: 400;
    line-height: 1.618;
    color: black;
}

p
{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
}

li p
{
    text-indent: 0;
}

blockquote
{
    border: 1px solid #888;
    border-radius: 5px;
    box-shadow: 0 .3em 0 #eee;
    padding: 2em;
    font-size: 100%;
}

blockquote p
{
    text-align: left;
    text-indent: 0;
}

blockquote p:first-child,
blockquote h2:first-child,
blockquote h3:first-child
{
    margin-top: 0;
}

blockquote li
{
    margin-bottom: 1em;
}

ul, ol
{
    margin-top: 1em;
    margin-bottom: 1em;
}

dd
{
    margin-bottom: 1em;
}

pre
{
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 .2em 0 #eee;
    overflow-x: auto;
    display: block;
    max-width: min(100%, 50em);
    margin-left: auto;
    margin-right: auto;
}

pre code
{
    font-size: 14px;
    white-space: pre;
}

h2
{
    padding-top: .5em;
}

h1, h2, h3, h4, h5, h6
{
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    letter-spacing: -0.03em;
    color: rgb(30, 30, 30);
    margin-top: .5em;
    margin-bottom: .25em;
}

h6        { font-size: 1.00em; }
h5        { font-size: 1.20em; }
h4        { font-size: 1.44em; }
h3        { font-size: 1.73em; }
h2        { font-size: 2.07em; }
h1, title { font-size: 2.49em; }

div.post-content table
{
    margin: auto;
    margin-bottom: 1.5em;
    border-radius: 10px;
    white-space: nowrap;
}

div.overflows
{
    overflow-x: auto;
    margin: auto;
    max-width: 95vw;
}

div.overflows-inset
{
    overflow-x: auto;
    margin: auto;
    max-width: 70vw;
}

div.post-content th,
div.post-content td
{
    border: 1px solid #ccc;
    padding-left: .7em;
    padding-right: .7em;
    padding-top: .2em;
    padding-bottom: .2em;
}

div.post-content tr:nth-child(odd)
{
    background-color: #f7f7f7;
}

div.post-content th
{
    background-color: white;
    border-bottom: 2px solid #ccc;
}

div.post-content img,
div.post-content blockquote
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #eee;
}

div.post-content img
{
    max-width: min(100%, 36em);
}

.embedded-figure
{
    max-width: min(100%, 36em);
    margin-left: auto;
    margin-right: auto;
}

div.post-container
{
    max-width: 49em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.embedded-figure
{
    max-width: min(100%, 36em);
    margin-left: auto;
    margin-right: auto;
}

div.post-date
{
    font-size: 13.5pt;
}

dd
{
    margin-bottom: 1em;
}

div.titlebar h1,
div.titlebar h2,
div.titlebar h3,
div.titlebar h4,
div.titlebar h5,
div.titlebar h6,
div.post-blurb h2
{
    font-weight: 400;
}
