ul.nav
{
    list-style-type: none;
    position:relative;
    margin:0;
    padding:0;
    margin-top:30px
}

ul.nav li
{
    border:none;
    padding:0;
    margin:0;
    margin-bottom:10px
}

ul.nav h4
{
    font-weight: bold;
}

div.sidebar
{
    background-color:#eee; 
    padding: 2em; 
    position: fixed; 
    right: 0px; 
    height: 100%;
}

div.sidebar h1,h5
{
    font-weight: bold;
}

h2
{
    padding-top: .5em;
}

div.post-blurb
{
    display: block;
    color: #888;
    margin: 0;
    padding: 0;
}

div.post-blurb:hover
{
    color: black;
}

div.post-container
{
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 2em;
    -webkit-box-shadow: 0 8px 6px -6px #aaa;
    -moz-box-shadow: 0 8px 6px -6px #aaa;
    box-shadow: 0 8px 6px -6px #aaa;
}

div.post-content
{
    font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
    font-size: 13.5pt;
    line-height: 140%;
}

div.post-content strong, b
{
    font-weight: 600;
}

div.post-content h1, h2, h3, h4, h5, h6
{
    font-family: sans-serif;
}

body
{
    font-size: 100%;
    line-height: 1.5em;
    word-spacing: .12em;
}

p
{
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    text-align: left;
    text-indent: 1.5em;
}

h1+p, h2+p, h3+p, h4+p, h5+p, h6+p, li p
{
    text-indent: 0em;
}

li
{
    line-height: 1.5em;
}

ul
{
    margin-top: 1em;
    margin-bottom: 1em;
}

dd
{
    margin-top: .5em;
    margin-bottom: 1em;
    line-height: 1.25em;
}

pre code
{
    font-size: 110%;
}
