<h2>Primer</h2>
<span>By <a href="/">Dave Kilian</a></span>
<hr>
<ol>
    <li><a href="/primer/index.html">About This Book</a></li><br>
    <li>
        <a href="/primer/basic/index.html">A Basic Computer</a>
        <ol>
            <li><a href="/primer/basic/circuits.html">Circuits</a></li><br>
            <li><a href="/primer/basic/proc.html">Processors</a></li><br>
            <li><a href="/primer/basic/mem.html">Memory</a></li><br>
            <li><a href="/primer/basic/stor.html">Storage</a></li><br>
        </ol>
    </li>
    <li>
        <a href="/primer/os/index.html">Operating Systems</a>
        <ol>
            <li><a href="/primer/os/threads.html">Threads</a></li><br>
            <li><a href="/primer/os/vm.html">Virtual Memory</a></li><br>
            <li><a href="/primer/os/files.html">Files</a></li><br>
            <li><a href="/primer/os/loaders.html">Loaders</a></li><br>
            <li><a href="/primer/os/shells.html">Shells</a></li><br>
        </ol>
    </li>
    <li>
        <a href="/primer/lang/index.html">Languages</a>
        <ol>
            <li><a href="/primer/lang/asm.html">Assembly</a></li><br>
            <li><a href="/primer/lang/c.html">C</a></li><br>
            <li><a href="/primer/lang/cpp.html">C++</a></li><br>
            <li><a href="/primer/lang/java.html">Java</a></li><br>
            <li><a href="/primer/lang/other.html">More Systems Languages</a></li><br>
        </ol>
    </li>
    <li>
        <a href="/primer/hw/index.html">Computer Hardware</a>
        <ol>
            <li><a href="/primer/hw/io.html">I/O Controllers</a></li><br>
            <li><a href="/primer/hw/dma.html">DMA</a></li><br>
            <li><a href="/primer/hw/firmware.html">Firmware</a></li><br>
            <li><a href="/primer/hw/stor.html">SCSI and SATA</a></li><br>
            <li><a href="/primer/hw/pci.html">PCI</a></li><br>
            <li><a href="/primer/hw/usb.html">USB</a></li><br>
        </ol>
    </li>
    <li>
        <a href="/primer/multimedia/index.html">Multimedia</a>
        <ol>
            <li><a href="/primer/multimedia/images.html">Images</a></li><br>
            <li><a href="/primer/multimedia/audio.html">Audio</a></li><br>
            <li><a href="/primer/multimedia/video.html">Video</a></li><br>
            <li><a href="/primer/multimedia/codecs.html">Codecs</a></li><br>
        </ol>
    </li>
    <li>
        <a href="/primer/net/index.html">Networks</a>
        <ol>
            <li><a href="/primer/net/switching.html">Packets and Switching</a></li><br>
            <li><a href="/primer/net/layers.html">Layering</a></li><br>
            <li><a href="/primer/net/eth.html">Ethernet</a></li><br>
            <li><a href="/primer/net/ip.html">IP</a></li><br>
            <li><a href="/primer/net/tcp.html">TCP</a></li><br>
            <li><a href="/primer/net/udp.html">UDP</a></li><br>
        </ol>
    </li>
    <li>
        <a href="/primer/inet/index.html">The Internet</a>
        <ol>
            <li><a href="/primer/inet/as.html">Autonomous Systems</a></li><br>
            <li><a href="/primer/inet/ip.html">IP (Revisited)</a></li><br>
            <li><a href="/primer/inet/bgp.html">BGP</a></li><br>
            <li><a href="/primer/inet/dns.html">DNS</a></li><br>
        </ol>
    </li>
    <li>
        <a href="/primer/www/index.html">The Web</a>
        <ol>
            <li><a href="/primer/www/http.html">HTTP</a></li><br>
            <li><a href="/primer/www/html.html">HTML, CSS, JS</a></li><br>
            <li><a href="/primer/www/servers.html">Web Servers</a></li><br>
            <li><a href="/primer/www/cgi.html">CGI</a></li><br>
            <li><a href="/primer/www/apps.html">Web Apps</a></li><br>
        </ol>
    </li>
    <li>
        <a href="/primer/infosec/index.html">Security</a>
        <ol>
            <li><a href="/primer/infosec/auth.html">Access Control</a></li><br>
            <li><a href="/primer/infosec/crypto.html">Cryptography</a></li><br>
            <li><a href="/primer/infosec/certs.html">Chain of Trust</a></li><br>
            <li><a href="/primer/infosec/exploit.html">Code Exploits</a></li><br>
            <li><a href="/primer/infosec/inject.html">Injection Exploits</a></li><br>
        </ol>
    </li>
    <li>
        <a href="/primer/db/index.html">Databases</a>
        <ol>
            <li><a href="/primer/db/sql.html">SQL</a></li><br>
            <li><a href="/primer/db/query.html">Query Engines</a></li><br>
            <li><a href="/primer/db/btree.html">Storage Engines</a></li><br>
            <li><a href="/primer/db/exotic.html">Exotic Databases</a></li><br>
        </ol>
    </li>
    <li>
        <a href="/primer/distrib/index.html">Distributed Systems</a>
        <ol>
            <li><a href="/primer/distrib/failures.html">Failures</a></li><br>
            <li><a href="/primer/distrib/replication.html">Replication</a></li><br>
            <li><a href="/primer/distrib/consensus.html">Consensus</a></li><br>
            <li><a href="/primer/distrib/sharding.html">Sharding</a></li><br>
            <li><a href="/primer/distrib/quorums.html">Quorums</a></li><br>
        </ol>
    </li>
    <li>
        <a href="/primer/vmm/index.html">Virtualization</a>
        <ol>
            <li><a href="/prier/vmm/hyper.html">Hypervisors</a></li>
        </ol>
    </li>
</ol>
