<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% if page.title %} {{ page.title }} | {%endif%} Dave Kilian's Blog</title>
        <link rel="stylesheet" href="/bootstrap.min.css" />
        <link rel="stylesheet" href="/global.css" />
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35334615-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2 sidebar">
                    <a href="/">
                        <img style="margin-bottom: 1em" src="http://1.gravatar.com/avatar/45adbee0467afae3e26db7d060e0b386" />
                    </a>
                    <h1>Dave<br>Kilian</h1>
                    <ul class="nav">
                        <li><h4><a href="index.html">Blog</a></h4></li>
                        <li><h4><a href="about.html">About</a></h4></li>
                        <li><h4><a href="http://www.github.com/davekilian">GitHub</a></h4></li>
                        <li><h4><a href="/resume.html">CV</a></h4></li>
                    </ul>
                    <footer style="position: fixed; bottom: 1em;">
                        <h5>&copy; Dave Kilian 2012-2013</h5>
                    </footer>
                </div>
                <div class="span10" style="padding: 1em">
                    {{ content }}
                </div>
            </div>
        </div>
    </body>
</html>

