<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if page.title %} {{ page.title }} | {%endif%} Dave Kilian's Blog</title>
        <link rel="stylesheet" href="/bootstrap.min.css" />
        <link rel="stylesheet" href="/global.css" />
        <link rel="stylesheet" href="/highlight.css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid" style="margin: 0; padding: 0">
            <div class="row-fluid visible-xs hidden-print" style="height: 13em; background-color: #eee">
                <div class="col-xs-3">
                    <a href="/">
                        <img style="margin-top: 2em; border: 1px solid #aaa" src="http://1.gravatar.com/avatar/45adbee0467afae3e26db7d060e0b386" />
                    </a>
                </div>
                <div class="col-xs-9">
                    <div class="row-fluid">
                        <div class="col-xs-12"><h1>Dave Kilian</h1></div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-xs-4"><h4><a href="/index.html">Blog</a></h4></div>
                        <div class="col-xs-4"><h4><a href="/about.html">About</a></h4></div>
                        <div class="col-xs-4"><h4><a href="http://www.github.com/davekilian">GitHub</a></h4></div>
                    </div>
                </div>
            </div>
            <div class="row-fluid visible-print" style="height: 13em; background-color: #eee">
                <div class="col-xs-12">
                    <div class="row-fluid">
                        <div class="col-xs-12"><h1>Dave Kilian's Blog: www.davekilian.com</h1></div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="sidebar col-sm-2 hidden-xs hidden-print">
                    <a href="/">
                        <img style="margin-bottom: 1em; border: 1px solid #aaa" src="http://1.gravatar.com/avatar/45adbee0467afae3e26db7d060e0b386" />
                    </a>
                    <h1>Dave<br>Kilian</h1>
                    <ul class="nav">
                        <li><h4><a href="/index.html">Blog</a></h4></li>
                        <li><h4><a href="/about.html">About</a></h4></li>
                        <li><h4><a href="http://www.github.com/davekilian">GitHub</a></h4></li>
                        <li><h4><a href="/resume.html">CV</a></h4></li>
                    </ul>
                    <footer style="position: fixed; bottom: 1em;">
                        <h5>&copy; Dave Kilian 2012-2017</h5>
                    </footer>
                </div>
                <div class="col-sm-10 col-xs-12" style="padding: 0; margin: 0">
                    {{ content }}
                </div>
            </div>
            <div class="row-fluid visible-xs">
                <div class="col-xs-12">
                    <h5>&copy; Dave Kilian 2012-2017</h5>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="bootstrap.min.js"></script>
        <script type="text/javascript"
          src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
        <script type="text/x-mathjax-config">
          MathJax.Hub.Config({
            extensions: ["tex2jax.js"],
            jax: ["input/TeX","output/HTML-CSS"],
            tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
          });
        </script>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-35334615-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </body>
</html>

