---
layout: default
---
<div class="post-container">
    <div class="post-content">
        <h1 class="post-title">{{ page.title }}</h1>
        <p style="color: #333">{{ page.date | date: "%B %Y" }}</p>
        {% if page.draft %}
            <h5 style="color:#a22; font-weight: bold">This post is a draft. Content may be incomplete or missing.</h5>
        {% endif %}
        {{ content }}
    </div>
    <div class="hidden-print">
        <hr />
        <a href="/">Back to Blog Index</a>
    </div>
</div>

