---
layout: default
---
<div class="post-container">
    <div class="post-content">
        <h1 class="post-title">{{ page.title }}</h1>
        <p style="color: #333">{{ page.date | date: "%B %Y" }}</p>
        {% if page.draft %}
            <h5 style="color:#a22; font-weight: bold">This post is a draft. Content may be incomplete or missing.</h5>
        {% endif %}
        {{ content }}
        <blockquote>
            <p>Did you enjoy this post? Are you hiring? I'm looking for the next step in my career! If you're looking for help building high-performance software in areas like databases, distributed systems, operating systems or game engines, let's talk! You can find me <a href="https://linkedin.com/in/dave-kilian/">on LinkedIn</a> or shoot a mail to <a href="mailto:dave@davekilian.com">dave@davekilian.com</a></p>
        </blockquote>
    </div>
    <div class="hidden-print">
        <hr />
        <a href="/">Back to Blog Index</a>
    </div>
</div>

